ul#friend-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    li.friend {
        text-decoration: underline;
        text-transform: uppercase;
        color: red;
        &.green {
            color: green;
        }
    }
}